body {
  font-family: "Montserrat", sans-serif;
}

/* HEADER */

.header {
  background: #bbbbbb;
  padding: 20px 0;
}

.header_margin {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
}

/* CSS INDEX */

.banner {
  width: 100%;
}

.principal {
  padding: 3em 0;
  background: #fefefe;
  width: 940px;
  margin: 0 auto;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
}

.beneficios {
  padding: 3em 0;
  background: #888888;
}

.conteudo-beneficios {
  width: 640px;
  margin: 0 auto;
}

.lista-beneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.itens {
  line-height: 1.5em;
}

.itens:first-child {
  font-weight: bold;
}

.itens::before {
  content: "★";
}
.img_beneficios {
  width: 60%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px #000000;
}

.img_beneficios:hover {
  opacity: 0.7;
}

.video {
  width: 550px;
  margin: 2em auto;
}

/* CSS PRODUTOS */

.titulo {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  font-weight: bold;
}

.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 40px 0;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
}

.produtos li:hover {
  border-color: #c78c19;
}

.produtos li:hover h2 {
  font-size: 30px;
}

.produtos li:active {
  border-color: #088c19;
}

.produtos h2 {
  font-size: 28px;
  font-weight: bold;
}

.produto-descricao {
  font-size: 16px;
}

.produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

/*CSS CONTATO*/

.main {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px 50px;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 5px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 8px 5px;
  width: 50%;
  border-radius: 5px;
  border: 0.5px solid;
}

.periodo {
  margin: 10px 0 0;
}

.checkbox {
  margin: 20px 0;
}
select {
  width: 10%;
  padding: 5px;
  border-radius: 5px;
}

.button {
  width: 30%;
  padding: 10px 0;
  background: #c78c19;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: 1s all;
}

.button:hover {
  background: #775106;
  cursor: pointer;
  transform: scale(1.2);
}

table {
  margin: 20px 50px;
  border: 2px solid #bbbbbb;
  text-align: center;
  width: 40%;
}

td,
th {
  padding: 5px 15px;
  border: 1px solid #bbbbbb;
}

/*FOOTER*/

footer {
  text-align: center;
  background: url("../imagens/bg.jpg");
  padding: 30px 0;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin: 20px 0;
}

/*RESPONSIVIDADE*/
@media screen and (max-width: 480px) {
  .header_margin,
  .principal,
  .conteudo-beneficios,
  .mapa-conteudo,
  .video,
  .produtos,
  .main,
  .periodo {
    width: auto;
    padding: 5px;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: static;
  }

  .header_margin li {
    margin: 5px;
  }

  .lista-beneficios,
  .img_beneficios {
    width: 100%;
  }

  .produtos {
    margin: auto;
  }
  .produtos li {
    margin: 10px;
    width: 90%;
  }
  .produtos img {
    width: 100%;
  }

  form {
    width: 100%;
    margin: 10px;
  }

  .input-padrao {
    width: 90%;
  }

  select {
    width: 30%;
  }

  table {
    margin: 20px 20px;
    width: auto;
  }
}
